.App {
  /* text-align: center; */
  min-height: 100vh;
  background-color: #282c34;
  padding: 20px;
}

.orange {
  color: orange;
}

.rate-container {
  margin-top: 20px;
  border-top: 1px solid #fff;
}

.purple {
  color: purple;
}

.movie-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.movie-item svg {
  font-size: 1.5rem;
  margin: 26px 6px
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
